{:pom {:group-id "org.danielsz",
       :artifact-id "cljs-utils",
       :version "0.1.9",
       :name "cljs-utils"
       :licenses [{:name "Eclipse Public License -v 1.0"
                   :url "https://opensource.org/license/epl-1-0/"}]},
 :build-properties {:project-build-sourceEncoding "UTF-8"},
 :packaging {:jar {:enabled true}}
 :testing {:enabled false, :tools-deps-alias :test},
 :scm {:enabled false},
 :interactive {:system {:enabled false,
                        :var "a.namespace/system-var",
                        :restart-on-change ["handler.clj"
                                            "system.clj"]},
               :figwheel {:enabled false,
                          :main {:watch-dirs ["src/cljs"],
                                 :open-url false},
                          :build {:main "main.core",
                                  :foreign-libs [],
                                  :output-dir "target/classes/js/compiled",
                                  :output-to "target/classes/js/main.js",
                                  :asset-path "/js/compiled",
                                  :output-wrapper true,
                                  :aot-cache true,
                                  :infer-externs true},
                          :tools-deps-alias :figwheel},
               :proxy {:enabled false,
                       :socks {:host "127.0.0.1",
                               :port "1080",
                               :version "5",
                               :use-system-proxies false}},
               :tools-deps-alias :repl,
               :repl-host "127.0.0.1",
               :reload-on-save true,
               :repl-port :auto,
               :enabled false,
               :cljs {:enabled false,
                      :with-repl false,
                      :compiler-opts {:infer-externs true,
                                      :output-dir "target/classes/js/compiled",
                                      :optimizations :none,
                                      :parallel-build true,
                                      :verbose true,
                                      :aot-cache true,
                                      :output-to "target/classes/js/main.js",
                                      :asset-path "/js/compiled",
                                      :output-wrapper true,
                                      :watch "src/cljs",
                                      :source-map true,
                                      :foreign-libs [],
                                      :main "main.core"},
                      :tools-deps-alias :cljs},
               :kawa {:enabled false}},
 :distribution-management {:id "clojars",
                           :url "https://clojars.org/repo"}
 :profiles {:enabled false}}
